* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-image: linear-gradient(90deg, black, #d50000);
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    position: relative;
}

#logo {
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 20px;
}

h1 {
    font-family: "Zen Dots", sans-serif;
    font-size: 34px;
    margin: 0;
}

nav {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #e0e0e0;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px;
}

nav ul li a:hover {
    color: rgb(255, 221, 0);
}

.calendar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.calendar h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.calendar-container {
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.calendar-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 0 0 calc(33.333% - 20px);
}

.calendar-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #d50000;
}

.calendar-card p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #212121;
}

.calendar-btn {
    display: inline-block;
    background-color: #2979ff;
    color: whitesmoke;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.calendar-btn:hover {
    background-color: #0056b3;
    font-size: 18px;
    transition: font-size 0.3s;
}

.circuito-melbourne{
    display: block;
    max-width: 80%;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.circuito-xangai{
    display: block;
    width: 900px;
    max-width: 100%;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

caption{
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: #212121;
    font-weight: bold;
    padding: 10px;
}

th, td{
    border: 1px solid #212121;
    padding: 8px;
    text-align: center;
    font-size: 16px;
}

th{
    background-color:#d50000;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 1px;
}

tr:nth-child(even){
    background-color: #f5f5f5;
}

tr:hover{
    background-color: #cfcfcf;
    transition: background 0.3s ease-in-out;
}

.dnf{
    color: #d50000;
    font-weight: bold;
    text-transform: uppercase;
}

.vitoria{
    color: #006747;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px 8px;
    text-transform: uppercase;
}

.desqualificado{
    color: orange;
    font-weight: bold;
    text-transform: uppercase;
}

.subiu{
    color: green;
    font-size: 18px;
}

.desceu{
    color: #d50000;
    font-size: 18px;
}

.igual{
    color: rgb(237, 210, 0);
    font-size: 18px;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    color: #212121;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid #d50000;
    margin-bottom: 20px;
    margin-top: 30px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h3{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: #212121;
    text-transform: uppercase;
    border-left: 5px solid #d50000;
    padding-left: 10px;
    margin-top: 20px;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

p b{
    color: #006747;
}

.voltar-topo{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #d50000;
    color: whitesmoke;
    text-align: center;
    line-height: 47px;
    font-size: 24px;
    text-decoration: none;
    border-radius: 50%;
    font-weight: bold;
}

.voltar-topo:hover{
    background-color: #e22626;
    width: 53px;
    height: 53px;
    transition: background 0.3s ease-in-out;
    transition: width 0.2s;
    transition: height 0.2s;
}